/*Top Nav Styling*/
.TopNav {
    position: relative;
    inset-inline-start: -2%;
    inset-block-start: -10px;
    padding-left: 2.5%;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: right;
    
    width: 100%;
    height: 100px;

    background-color: seagreen;
    overflow: hidden;

    float: left;
}

/*Adjusting Subelements of Flex*/
.TopNav div {
    background-color: transparent;
    flex-basis: 150px;
    text-align: center;

    min-width: 150px;

    padding-top: 100%;
    padding-bottom: 100%;

    align-self: center;
    z-index: 20;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: none;
}

/*Styling the link elements*/
.TopNav div a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: seagreen;


    z-index: 20;
}

/*Styling Header*/
.TopNav div h1 {
    font-size: 48px;
    text-align: left;

    min-width: 600px;
}

.TopNav div:nth-child(2) {
    margin-right: 30%;
    flex-basis: 600px;
    overflow: visible;
}

/*Styling buttons*/
.TopNav #NavHome {
    padding: 100% 34%;
}
.TopNav #NavUpload {
    padding: 100% 11%;
}
.TopNav #NavSave {
    padding: 100% 13%;
}
.TopNav #NavContact {
    padding: 100% 20.5%;
}

.TopNav div a:hover {
    animation-name: colorFade;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

/*Animation for Buttons*/
@keyframes colorFade {
    0% {background-color: seagreen; color: black;}
    100% {background-color: green; color: white;}
}

.tab{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: inherit;
}

.tab button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover{
    background-color: #ddd;
}

.tab button.active{
    background-color: #ccc;
}

.tabcontent{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.spacer{
    padding: 100px;
    border: 20px;
    margin: 15px;
}
.spacer2{
    padding: 100x;
    border: 70px;
    margin: 15px;

}

.TopBox{
    background-color: inherit;
}

.container{
    border:50px;

}
